aside {
    width: 37%;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Roboto', sans-serif;
    background-color: #F2EFFF;
    text-align: center;
    border: 1px double #B1B7D1 ;
    border-width: 17px;
}
h3{
    color: #B1B7D1;
    font-family: 'Roboto', sans-serif;

}
h3.checkIn{
    color: #F2EFFF;
    font-family: 'Roboto', sans-serif;

}
section.CheckInSection{
    float: left;
    margin-left: 36px;
}

h2.portfolio-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    margin-left: 36px;
    padding-top: 20px;
    
}
h2.checkIn-form-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    padding-top: 20px;
    
}

section.wellbeing-card{
    border: solid 3px #7986BE;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 7px;
    color:#F2EFFF;
}

div.user-info-new{
    width: 50%;
    margin-right: 800px;
    float: left;
    display: flex;
}


section.SelfGratitude-card{
    color:#7986BE;
}

i#portfolio.bi-info-circle::before {
    content: "\f431";
    font-size: 2rem;
    color: #7986BE;
    margin-left: 7px;
    margin-top: 45px;
}
i#check.bi-info-circle::before {
    content: "\f431";
    font-size: 2rem;
    color: #7986BE;
    margin-left: 7px;
    margin-right: 7px;
}

i#gratitude.bi-info-circle::before {
    content: "\f431";
    font-size: 1.5rem;
    color: #7986BE;
    margin-left: 7px;
    margin-right: 15px;
}

i#self.bi-plus-circle::before {
    content: "\f4fa";
    font-size: 1.5rem;
    color: #7986BE;
    margin-left: 15px;
}

.bi-plus-circle::before {
    content: "\f4fa";
    font-size: 2rem;
    color: #7986BE;
}

i#sgtrash.bi.bi-trash::before {
    margin-right: 10px;
}

i#sgedit.bi.bi-pencil::before {
    margin-left: 10px;
}

div.CheckInModal.modal-body{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.CheckInModal.modal-header{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.gratitudeModal.modal-body{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.gratitudeModal.modal-header{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.PageModal.modal-body{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.PageModal.modal-header{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

form.checkIn-form{
    margin-left: 36px;
    font-family: 'Roboto',sans-serif;
    color: #7986BE;
    width:95%;
    font-size: 1.25rem;
}

button.saveCheckIn{
    background-color: #7986BE;
    color: #B1B7D1;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

button.saveCheckIn:hover{
    background-color: #7986BE;
    color: white;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

h2.SelfGratitude-form-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    padding-top: 20px;
    
}

form.SelfGratitude-form{
    margin-left: 36px;
    font-family: 'Roboto',sans-serif;
    color: #7986BE;
    width:95%;
    font-size: 1.25rem;
}



button.saveSelfGratitude{
    background-color: #7986BE;
    color: #B1B7D1;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

button.saveSelfGratitude:hover{
    background-color: #7986BE;
    color: white;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

aside.SelfGratitude-list{
    position: sticky ;
}
