aside {
    width: 37%;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Roboto', sans-serif;
    background-color: #F2EFFF;
    text-align: center;
    border: 1px double #B1B7D1 ;
    border-width: 17px;
}
h3{
    color: #B1B7D1;
    font-family: 'Roboto', sans-serif;

}
h3.checkIn{
    color: #F2EFFF;
    font-family: 'Roboto', sans-serif;

}
section.CheckInSection{
    float: left;
    margin-left: 36px;
}

/* h2{
    font-family: 'Roboto', sans-serif;
    color: #F2EFFF;
    font-size: 60px!important;
    margin-left: 50px;
    padding-top: 20px;
    
} */

h2.portfolio-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    margin-left: 36px;
    padding-top: 20px;
}

section.wellbeing-card{
    border: solid 3px #7986BE;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 7px;
    color:#F2EFFF;
}

div.user-info-new{
    width: 40%;
    margin-right: 100px;
    float: left;
}

button.info-button{
    margin-left:36px;
}

section.SelfGratitude-card{
    color:#7986BE;
}