h2.forgiveness-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    margin-left: 36px;
    padding-top: 20px;
}

section.ForgivenessCard{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    margin-top: 10px;
    margin-left: 36px;
    height: 200px;
    width: 15%;
    text-align: center;
    padding-top: 40px;
    border-radius: 1rem;
    font-size: 20px;
    line-height: 2;
    
}

section.ForgivenessCard:nth-child(1){
    background-color:#FB9145;
}
section.ForgivenessCard:nth-child(2){
    background-color:#C9A6B7;
}
section.ForgivenessCard:nth-child(3){
    background-color:#FFBE5E;
}

section.ForgivenessCard:nth-child(4){
    background-color:#FB9145;
}

section.ForgivenessCard:nth-child(5){
    background-color:#C9A6B7;
}

section.ForgivenessCard:nth-child(6){
    background-color:#FFBE5E;
}

section.ForgivenessCard:nth-child(7){
    background-color:#FB9145;
}
section.ForgivenessCard:nth-child(8){
    background-color:#C9A6B7;
}

section.ForgivenessCard:nth-child(9){
    background-color:#FFBE5E;
}

section.ForgivenessCard:nth-child(10){
    background-color:#FB9145;
}
section.ForgivenessCard:nth-child(11){
    background-color:#C9A6B7;
}

section.ForgivenessCard:nth-child(12){
    background-color:#FFBE5E;
}

section.ForgivenessCard:nth-child(13){
    background-color:#FB9145;
}

section.ForgivenessCard:nth-child(14){
    background-color:#C9A6B7;
}

section.ForgivenessCard:nth-child(15){
    background-color:#FFBE5E;
}

section.ForgivenessCard:nth-child(16){
    background-color:#FB9145;
}

section.forgivenessList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

i#FEdit.bi.bi-pencil::before{
    margin-left: 6px;
    margin-right: 6px;
}

form.Forgiveness-form{
margin-left: 36px;
font-family: 'Roboto',sans-serif;
color: #7986BE;
width:95%;
font-size: 1.25rem;
}

h2.Forgiveness-form-header{
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
    font-size: 60px;
    padding-top: 20px;
}


button.saveForgiveness{
    background-color: #7986BE;
    color: #B1B7D1;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

button.saveForgiveness:hover{
    background-color: #7986BE;
    color: white;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

button.cancel-bttn{
    background-color: #7986BE;
    color: #B1B7D1;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
    margin-right:10px;
}

button.cancel-bttn:hover{
    background-color: #7986BE;
    color: white;
    border: #7986BE ;
    margin-top:  10px;
    border-radius: .25rem;
}

div.FBody.modal-body{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}

div.FHead.modal-header{
    background-color: #C9A6B7;
    font-family: 'Roboto',sans-serif;
    color: #F2EFFF;
}